<!-- footer -->
<footer class="footer py-5">
	<div class="container py-sm-4">
		<div class="row">
			<div class="col-lg-2  col-md-6 footv3-left mt-md-0 mt-5">
				<h3 class="mb-4 pb-3 w3f_title">Navigation</h3>
				<ul class="list-agileits">
					<li>
						<a href="{% url 'index' %}">Home</a>
					</li>
					<li class="my-2">
						<a href="{% url 'index' %}#projects">Projects</a>
					</li>
					<li class="my-2">
						<a href="{% url 'about' %}">About Me</a>
					</li>
					<li>
						<a href="{% url 'contact' %}">Contact Me</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
				<h3 class="mb-4 pb-3 w3f_title">Contact Me</h3>
				<div class="fv3-contact">
					<a href="{% url 'contact' %}"><span class="fas fa-envelope-open mr-2"></span></a>
					<p>
						<a href="{% url 'contact' %}">Contact Form</a>
					</p>
				</div>
				<div class="fv3-contact my-3">
<!--					<span class="fas fa-phone-volume mr-2"></span>-->
<!--					<p>+xx xxx xxx xx</p>-->
				</div>
				<div class="fv3-contact">
					<span class="fas fa-home mr-2"></span>
					<p>Tricity, Poland.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 footerv2-w3ls mt-lg-0 mt-5">
				<h3 class="mb-4 w3f_title pb-3">Get In Touch</h3>
				<p>Check my profiles in other services</p>
				<ul class="social-iconsv2 agileinfo mt-4">
					<li>
						<a href="https://github.com/Anorax0/" target="_blank">
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/jakub-hebel/" target="_blank">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="cpy-right text-center">
	<p>© 2018 Flex Art. All rights reserved | Design by
		<a href="http://w3layouts.com"> W3layouts.</a>
	</p>
</div>
<!-- //copyright -->