<!-- main image slider container -->
<section class="slide-window">
	<div class="slide-wrapper" style="width:300%;">
		<div class="slide">
			<div class="slide-caption text-center">
				<!-- todo entire modal should come from db (title, text, background image-->
			   <h3>Quote <span style="color: #EDB8B8;">of the day</span></h3><br>
			   <p class="my-4"></p>
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#ModalCenter1" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
		<div class="slide slide2">
			<div class="slide-caption text-center">
				<h3 class="text-uppercase" >Today's <span style="color: #EDB8B8;">Basic </span>Info</h3>
			   <p class="my-4">Get some info</p>
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#ModalCenter2" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
		<div class="slide slide3">
			<div class="slide-caption text-center">
				<h3 class="text-uppercase">Wea<span style="color: #EDB8B8;">ther</span></h3>
			   <p class="my-4"><small>Just to check what's going on</small></p>
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#ModalCenter3" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="slide-controller">
		<div class="slide-control-left">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
		<div class="slide-control-right">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
	</div>
</section>
<!-- end of main image slider container -->
