{% extends "base.html" %}
{% block content %}

<!-- inner page banner -->
<section class="inner-page-banner">
	<div class="page-heading text-center">
		<h2>Contact Page</h2>
		<span class="section_1-breadcrumbs"><a href="{% url 'index' %}">
			<i class="fa fa-home home_1"></i> Home</a> <span>/ <a href="{% url 'contact' %}"> Contact</a></span></span>
	</div>
</section>
<!-- //inner page banner -->

<!-- contact -->
<section class="contact py-5">
	<div class="container">
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>Contact </span> Me </h3>
			<p class="para mb-5 text-center">In emergency of anything (except spam and low quality jokes), do not hesitate to contact me.</p>
		</div>
		<div class="row contact-agileinfo m-5 form-group row align-items-center justify-content-center">
			{% include 'partials/_alerts.html' %}
			<div class="contact-right text-center">
				<form action="{% url 'contact' %}" method="POST">
					{% csrf_token %}
					<input type="text" name="name" placeholder="Name" required="">
					<input type="email" class="email" name="email" placeholder="Email" required="">
					<textarea name="message" placeholder="Message" required=""></textarea>
					<button type="submit" class="btn btn-primary submit mb-4">Submit</button>
				</form>
			</div>

		</div>
	</div>
</section>
{% endblock %}