<!-- main image slider container -->
<section class="slide-window">
	<div class="slide-wrapper" style="width:300%;">
		<div class="slide">
			<div class="slide-caption text-center">
				<!-- todo entire modal shold come from db (title, text, background image-->
			   <h2 class="text-uppercase">Chuck Norris <span>Quote</span></h2>
				<!-- todo as below -->
			   <p class="my-4"></p>
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#ModalCenter1" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
		<div class="slide slide2">
			<div class="slide-caption text-center">
				<h3 class="text-uppercase">{ TITLE <span>title } } </span></h3>
			   <p class="my-4">{ { DESCRIPTION } }</p>
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#ModalCenter2" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
		<div class="slide slide3">
			<div class="slide-caption text-center">
				<h3 class="text-uppercase">{ TITLE <span>title } } </span></h3>
			   <p class="my-4">{ { DESCRIPTION } }</p>
			   <div class="read">
					<a href="#" data-toggle="modal" data-target="#ModalCenter3" role="button">Read More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="slide-controller">
		<div class="slide-control-left">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
		<div class="slide-control-right">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
	</div>
</section>
<!-- end of main image slider container -->
