{% load static %}

<!--model-forms-->
<!-- Vertically centered Modal -->

<!--	<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">-->
<!--		<div class="modal-dialog modal-dialog-centered" role="document">-->
<!--			<div class="modal-content">-->
<!--				<div class="modal-header">-->
<!--					<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"><i class="far fa-lightbulb"></i> Flex Art</h5>-->
<!--					<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--						<span aria-hidden="true">&times;</span>-->
<!--					</button>-->
<!--				</div>-->
<!--			<div class="modal-body">-->
<!--				<img src="{% static 'images/bg1.jpg' %}" class="img-fluid mb-3" alt="Modal Image" />-->
<!--				or turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.-->
<!--			</div>-->
<!--			<div class="modal-footer">-->
<!--				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--				<button type="button" class="btn btn-primary">Save changes</button>-->
<!--			</div>-->
<!--		</div>-->
<!--	  </div>-->
<!--	</div>-->

<!-- TODO THIS MUST BE REFACTOR TO ONLY ONE SCHEMA DUE TO DRY TECHNIQUE AND SHOULD COMES FROM DB (TITLE, TEXT AND IMAGE PROBLEM: IT CAN BE CSS REFACTORING BECAUSE OF UNKNOWN NUMBER OF REPEATS -->

<!-- Modal 1-->
	<div class="modal fade" id="ModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="ModalLongTitle"><i class="far fa-lightbulb"></i> Random Quote</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="{% static 'images/bg.jpg' %}" class="img-fluid mb-3" alt="Modal Image" />
				{ { RANDOM QUOTATION ( maybe with first letter in gothic font?) } }
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	  </div>
	</div>

<!-- Modal 2-->
	<div class="modal fade" id="ModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="ModalLongTitle"><i class="far fa-lightbulb"></i> Random Quote</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="{% static 'images/bg1.jpg' %}" class="img-fluid mb-3" alt="Modal Image" />
				{ { RANDOM QUOTATION ( maybe with first letter in gothic font?) } }
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	  </div>
	</div>

<!-- Modal 3-->
	<div class="modal fade" id="ModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="ModalLongTitle"><i class="far fa-lightbulb"></i> Some Data</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="{% static 'images/bg2.jpg' %}" class="img-fluid mb-3" alt="Modal Image" />
				{ { JUST PUT SOME DATA HERE } }
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	  </div>
	</div>

<!-- Modal 4-->
	<div class="modal fade" id="ModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="ModalLongTitle-other"><i class="far fa-lightbulb"></i> MIDDLE-PAGE DATA</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="{% static 'images/bg2.jpg' %}" class="img-fluid mb-3" alt="Modal Image" />
				{ {  JUST MIDDLE-PAGE DATA HERE } }
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	  </div>
	</div>

<!-- Modal 5-->
	<div class="modal fade" id="ModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="ModalLongTitle-other"><i class="far fa-lightbulb"></i> DO I REALLY NEED THIS SECTION?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="{% static 'images/bg.jpg' %}" class="img-fluid mb-3" alt="Modal Image" />
				I DO NOT KNOW...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	  </div>
	</div>
	<!-- //Vertically centered Modal -->