{% extends "base.html" %}
{% block content %}

<!-- inner page banner -->
<section class="inner-page-banner" xmlns="http://www.w3.org/1999/html">
	<div class="page-heading text-center">
		<h2>Contact Page</h2>
		<span class="section_1-breadcrumbs"><a href="{% url 'index' %}"><i class="fa fa-home home_1">
		</i> Home</a> <span>/ Gallery</span></span>
	</div>
</section>
<!-- //inner page banner -->

<!-- Gallery -->
<section class="py-5" id="gallery">
	<div class="row">
		{% for image in object_list %}
		<div class="column">
			<img src="{{ image.image.url }}">
		</div>
		{% endfor %}
	</div>

</section>
{% endblock %}